<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>E-commerce</title>
    </head>
    <body>
        <div class="grid_container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">&#9776;</button>
                    <a href="index.html">E-commerce</a>
                </div>
                <div class="header_links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar_close_btn" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">Shirts</a>
                    </li>
                    <li>
                        <a href="index.html">pants</a>
                    </li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product_image" src="images/d1.jpg" alt="product image" />
                                <div class="product_name">
                                    <a href="product.html">Slim Shirt</a>
                                </div>
                                <div class="product_brand">Nike</div>
                                <div class="product_price">$60</div>
                                <div class="product_rating">4.5 Ratings (10 reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                All rights reserved.
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open")
            }
            function closeMenu(){
                document.querySelector(".sidebar").classList.remove("open")
            }
        </script>
    </body>
</html>